.slideStylesWidthBackground{
    width:100%;
    height:100%;
    background-size: cover;
    background-position: center;
    border-radius:0 20rem  0 0   ;
    position:relative;
    box-shadow:rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    transition: all 0.3s ease-in-out;
}
.slideStylesWidthBackground::before {
    position:absolute;
    content: '';
    top: -.3rem;
    right: -.3rem;
    left: -.3rem;
    bottom: -.3rem;
    background: #333;
    z-index: -1;
    border-radius:inherit
}
.slideStylesWidthBackground::after {
    position:absolute;
    content: '';
    top: -.3rem;
    right: -.3rem;
    left: -.3rem;
    bottom: -.3rem;
    background: #333;
    z-index: -2;
    filter: blur(15px);
    border-radius:inherit
}
.slideStylesWidthBackground::before ,
.slideStylesWidthBackground::after {
    background-image: linear-gradient(to right, #00b09b, #96c93d);
}